{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KidConnect{% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/report.css' %}">
    <link rel="stylesheet" href="{% static '/css/reportedChildren.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&
    family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,
    500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,
    500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">
</head>
<body>
    <section class="header">
        <nav>
            <a href="{% url 'home' %}"><img src="{% static '/images/logo.png' %}" alt="logo"></a>
           

            {% if user.is_authenticated %}
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>

                    <ul>
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'home' %}#ABOUT">ABOUT</a></li>
                        <li><a href="{% url 'home' %}#SERVICES">SERVICES</a></li>
                        <li><a href="">BLOG</a></li>
                        <li><a href="{% url 'home' %}#CONTACT">CONTACT</a></li>
                        <li><a href="{% url 'report' %}">REPORT A MISSING CHILD</a></li>
                        <li><a href="{% url 'reportedChildren' %}">REPORTED CHILDREN</a></li>
                        <!-- <li><a href="{% url 'login' %}">login</a></li>
                        <li><a href="{% url 'register' %}">sign up</a></li> -->
                        <li><a href="{% url 'logout' %}">logout {{user.username}} </a></li>
                        

                       
                        
                       
                        
                    </ul>
                </div>
            {% else %}
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>

                    <ul>
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'home' %}#ABOUT">ABOUT</a></li>
                        <li><a href="{% url 'home' %}#SERVICES">SERVICES</a></li>
                        <li><a href="">BLOG</a></li>
                        <li><a href="{% url 'home' %}#ABOUT">CONTACT</a></li>
                        <li><a href="{% url 'report' %}">REPORT A MISSING CHILD</a></li>
                        <li><a href="{% url 'reportedChildren' %}">REPORTED CHILDREN</a></li>
                        <li><a href="{% url 'login' %}">login</a></li>
                        <li><a href="{% url 'register' %}">sign up</a></li>
                    </ul>
                </div>
            {% endif %}
            <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>

        {% block body %}
            
        {% endblock body %}

     <!-- ---- footer ---- -->
    <section class="footer" id="ABOUT">
        <h4>About us</h4>
        <p>this is about sila Mulingi</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i> by Sila Mulingi and Sylvia Cheptoo</p>
    </section>

<script>
    var navLinks = document.getElementById("navLinks")

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>