{% load static %}


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%} KidConnect Navbar {% endblock %}</title>

  <!-- css for base.html -->
  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  <!-- link for reportedChildren.html  -->
  <link rel="stylesheet" href="{% static '/css/reportedChildren.css' %}">
  <!-- css for generateDetails.html -->
   <link rel="stylesheet" href="{% static '/css/generateDetails.css' %}">
  {% block css %}{% endblock css %}
</head>
<body>
  <header class="navbar">
    <div class="container">
       Logo 
      <div class="logo">
        kidConnect<span>.</span>
      </div>

      <!-- Navigation Links -->
      <nav>
        <ul class="nav-links">
          <li><a href="">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <li><a href="">Team</a></li>
          <li><a href="">Admin</a></li>
          <li><a href="" class="highlighted">Search</a></li>
        </ul>
      </nav>
      <a href="" class="report-button">Reported Children</a>
      <!-- Report Button -->
      <a href="" class="report-button">Report a Missing child</a>
      <!-- update.html css -->
      <link href="" rel="stylesheet">
      <!-- Search Bar -->
      <!-- <form class="search-bar" method="get" action="">
        
          <input type="text" placeholder="Search..." name="search">
          <button type="submit" class="search-button">search</button>
        
        
      </form> -->
    </div>
  </header>

  {% block body %}

  {% endblock body %}


</body>
</html> 
