{% extends 'base.html' %}
{% load static %}
{% block title %} Report a missing child {% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static '/css/report.css' %}" rel="stylesheet">
</head>


    <div class="container-form">
        <div class="form-image">
            <img src="{% static '/img/reports/parent-wife-child.png' %}" alt="">
        </div>
        <div class="form_">
            <form action="" method="post">
                {% csrf_token %}
                <label for="email">Reporter email</label>
                <input type="email" name="email" id="">

                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="">

                <label for="middleName">Middle Name</label>
                <input type="text" name="middleName" id="">

                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="">

                <label for="gender">Gender</label>
                <select name="gender" id="">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <label for="age">Age</label>
                <input type="number" name="age" id="">

                <label for="height">Height in metres</label>
                <input type="number" name="height" id="">

                <label for="skin-tone">Skin tone</label>
                <select name="skinTone" id="">
                    <option value="dark">dark</option>
                    <option value="Chocolate">Chocolate</option>
                    <option value="light">Light</option>
                </select>

                <label for="location">Last seen location</label>
                <input type="text" name="location" id="">

                <label for="dressing">Lastly dressed</label>
                <input type="text" name="dressing" id="">

                <label for="profile_photo">Profile_Photo</label>
                <input type="file" name="profilePhoto" id="">

                <label for="status">Status</label>
                <select name="status" id="">
                    <option value="Found">found</option>
                    <option value="pending">pending</option>
                </select>
                
                <button type="submit">Report</button>
            </form>
        </div>
    </div>
    </html>
{% endblock %}
